{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Makale Güncelle
{% endblock title %}

{% block css %}
  <style>
      header nav{
        background-color: gray;
      }
      header .baslik_icon{
          width: 100px;
      }
      header li{
          font-size: 18px;
      }

      header li a{
          color: azure;
      }

      .fas{
        margin-left:5px;
        font-size: 19px;
      }
  </style>
{% endblock css %}


{% block body %}
<div class="container mt-4">
        <h3>Yazıyı Güncelle</h3>
    <hr>
    <form method = "POST" enctype="multipart/form-data">
                            
        {% csrf_token %}
        {{form.media}}
        {{form|crispy}}
                            
        <button type="submit" class="btn btn-secondary">Yazıyı Güncelle</button>
                        
    </form>
</div>
{% endblock body %}" %}